Organism: Plant
Symbol: 🌸
Type: Plant
EatsPlants: false
EatsAnimals: false
EatsFungus: false
EatsDead: false
FoodStatPenalty: 0.3
FoodStatVariancePenalty: 0.4
FoodProductionRate: 2.5
FoodCapMultiplier: 10.2
Cannibal: false
BreedThresholdMultiplier: 0.6
ToughnessMax: 30
ToughnessMin: 1
ToughnessVarianceMax: 3
ToughnessVarianceMin: 0
AgilityMax: 0
AgilityMin: 0
AgilityVarianceMax: 0
AgilityVarianceMin: 0
IntelligenceMax: 0
IntelligenceMin: 0
IntelligenceVarianceMax: 0
IntelligenceVarianceMin: 0
MutationRate: 1
SuddenDeathChance: 1

Organism: Herbivore
Symbol: 🐞
Type: Animal
EatsPlants: true
EatsAnimals: false
EatsFungus: true
EatsDead: false
FoodStatPenalty: 0.12
FoodStatVariancePenalty: 0.1
FoodProductionRate: 0
FoodCapMultiplier: 5.0
Cannibal: false
BreedThresholdMultiplier: 0.4
ToughnessMax: 60
ToughnessMin: 10
ToughnessVarianceMax: 10
ToughnessVarianceMin: 0
AgilityMax: 60
AgilityMin: 5
AgilityVarianceMax: 8
AgilityVarianceMin: 0
IntelligenceMax: 70
IntelligenceMin: 2
IntelligenceVarianceMax: 20
IntelligenceVarianceMin: 0
MutationRate: 2
SuddenDeathChance: 0.01

Organism: Carnivore
Symbol: 🐊
Type: Animal
EatsPlants: false
EatsAnimals: true
EatsFungus: false
EatsDead: false
FoodStatPenalty: 0.14
FoodStatVariancePenalty: 0.02
FoodProductionRate: 0
FoodCapMultiplier: 3.3
Cannibal: false
BreedThresholdMultiplier: 0.5
ToughnessMax: 60
ToughnessMin: 5
ToughnessVarianceMax: 30
ToughnessVarianceMin: 0
AgilityMax: 70
AgilityMin: 10
AgilityVarianceMax: 30
AgilityVarianceMin: 0
IntelligenceMax: 70
IntelligenceMin: 10
IntelligenceVarianceMax: 25
IntelligenceVarianceMin: 0
MutationRate: 2
SuddenDeathChance: 0.01